@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        <div id="menu">
            <span onClick="javascript: OnClickUczniowie()" class="" id="o1">Uczniowie</span> |
            <span onclick="javascript: OnClickPrzedmioty()" class="" id="o2">Przedmioty</span> | 
            <span onclick="javascript: OnClickOceny()" class="" id="o3">Oceny</span>
        </div>
        <div id="content">
            
        </div>
    </div>
    <script>
    $(document).ready(function () {
        $("#content").load('/Uczen/index');
    });
    function OnClickUczniowie() {
        $('#content').load('/Uczen/Index');
    }
    function OnClickPrzedmioty() {
        $('#content').load('/Przedmiot/Index');
    }
    function OnClickOceny() {
        $('#content').load('/home/ocena_uczen_przedmiot');
    }
    </script>

</body>
</html>
